@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
}

a {
    color: #000;
    text-decoration: none;
}
ul,
li {
    list-style: none;
}
button,
input,
textarea {
    border: none;
    outline: none;
    background: transparent;
}

body {
    display: flex;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background: url(/img/bg.jpg);
}

.container {
    display: flex;
    width: 1440px;
    height: 900px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 253px;
    padding: 43px 0;
    text-align: center;
    background: #fff;
    border-right: 1px solid #ddd;
}
aside .profile {
    flex-basis: 300px;
    width: 100%;
}
aside .profile .profile_img {
    width: 204px;
    height: 204px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 17px;
}
aside .profile .profile_img img {
    position: relative;
    top: -60px;
    left: -20px;
    width: auto;
    height: auto;
    max-width: 350px;
    max-height: 350px;
}
aside .profile h1 a {
    color: #000;
}
aside nav {
    flex-basis: 500px;
    width: 100%;
    padding-top: 20px;
}
aside nav li a {
    display: block;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    border: 1px solid #5e5e5e;
    border-radius: 15px;
    margin-bottom: 10px;
}
aside .create_btn {
    /* flex-basis: 65px; */
    width: 65px;
    height: 65px;
    font-size: 32px;
    color: #373737;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

article {
    width: 1187px;
    overflow-y: scroll;
    background: #fff;
}
article::-webkit-scrollbar {
    display: none;
}
article .wrap section.blue {
    background: #bae0ff;
}
article .wrap section.pink {
    background: #ffd2e9;
}
article .wrap section.yellow {
    background: #ffedba;
}
.top_btn {
    position: fixed;
    right: 29px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    font-size: 28px;
    cursor: pointer;
}
