<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/2a373ef376.js" crossorigin="anonymous"></script>
        <title>Memo List</title>
        <link rel="stylesheet" href="css/common.css" />
        <link rel="stylesheet" href="css/memo.css" />
    </head>
    <body>
        <div class="container">
            <aside>
                <div class="profile">
                    <div class="profile_img">
                        <img src="img/profile.jpg" alt="프로필사진" />
                    </div>
                    <h1><a href="/">메모</a></h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="/">전체보기</a></li>
                        <li><a href="/menu1">해야할 일</a></li>
                        <li><a href="/menu2">필사</a></li>
                    </ul>
                </nav>
                <form action="/create" method="get">
                    <button class="create_btn" type="submit" title="추가"><i class="fa-solid fa-plus"></i></button>
                </form>
            </aside>
            <article>
                <div class="wrap">
                    <% data.forEach(function (memo, index) { %>
                    <section class="<%= memo.color %>">
                        <div class="delete_confirm">
                            <div class="confirm_body">
                                <p>삭제하시겠습니까?</p>
                                <div class="confirm_btns">
                                    <a href="/delete/<%= memo.number %>">예</a>
                                    <a href="/">아니오</a>
                                </div>
                            </div>
                        </div>
                        <div class="section_header">
                            <h2><%= memo.title %></h2>
                            <div class="header_btns">
                                <a href="/modify/<%= memo.number %>" title="수정"><i class="fa-solid fa-pen-to-square"></i></a>
                                <button title="삭제"><i class="fa-solid fa-xmark"></i></button>
                            </div>
                        </div>
                        <p class="section_date"><%= memo.date %></p>
                        <div class="section_main"><%= memo.main %></div>
                    </section>
                    <% }); %>
                </div>
            </article>
        </div>
        <button class="top_btn" title="위로가기"><i class="fa-solid fa-up-long"></i></button>
        <script>
            let article = document.querySelector('article'),
                topBtn = document.querySelector('.top_btn');

            topBtn.addEventListener('click', () => {
                article.scrollTo({ top: 0, behavior: 'smooth' });
            });

            let deleteBtn = document.querySelectorAll('.header_btns>button'),
                deleteConfirm = document.querySelectorAll('.delete_confirm');

            deleteBtn.forEach((button, index) => {
                button.addEventListener('click', () => {
                    deleteConfirm[index].style.display = 'block';
                });
            });
        </script>
    </body>
</html>
