<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/2a373ef376.js" crossorigin="anonymous"></script>
        <title>Modify</title>
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/sub.css" />
        <script src="/textarea.js" defer></script>
    </head>
    <body>
        <div class="container">
            <aside>
                <div class="profile">
                    <div class="profile_img">
                        <img src="/img/profile.jpg" alt="프로필사진" />
                    </div>
                    <h1><a href="/">메모</a></h1>
                </div>
            </aside>
            <article>
                <div class="wrap">
                    <form method="post">
                        <section class="<%= data.color %>">
                            <div class="color_select">
                                <input type="radio" name="color" value="blue" />
                                <input type="radio" name="color" value="pink" />
                                <input type="radio" name="color" value="yellow" />
                            </div>
                            <div class="section_header">
                                <select name="menu">
                                    <option value="" selected>전체</option>
                                    <option value="menu1">해야할 일</option>
                                    <option value="menu2">필사</option>
                                </select>
                                <input type="text" name="title" maxlength="20" value="<%= data.title %>" />
                                <div class="header_btns">
                                    <button type="submit" title="확인"><i class="fa-solid fa-check"></i></button>
                                    <a href="/" title="취소"><i class="fa-solid fa-xmark"></i></a>
                                </div>
                            </div>
                            <p class="section_date"><%= data.date %></p>
                            <div class="section_main">
                                <textarea name="main" maxlength="200"><%= data.main %></textarea>
                                <span class="txt_count">0</span>
                            </div>
                        </section>
                    </form>
                </div>
            </article>
        </div>
    </body>
</html>
